.navbar-homebtn {
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    position: relative;
}
.navbar-homebtn:hover {
    background-color: #badaff;
    text-decoration: none;
}
.active > .navbar-homebtn {
    background-color: #6999cf;
    color: #d9e3ee;
}
.active > .navbar-homebtn:hover{
    background-color: #9ec1f0;
    color: #014591;
    text-decoration: none;
}

.navbar-button {
    text-align: center;
    color: #014591;
    margin-left: 1px;
    padding: 15px 10px;
}
.navbar-button:hover {
    background-color: #badaff;
}
.active  > .navbar-button {
    background-color: #6999cf;
    color: #d9e3ee;
}
.active > .navbar-button:hover{
    background-color: #9ec1f0;
    border-radius: 3px;
    color: #014591;
    text-decoration: none;
}

.navbar-lang {
    text-align: right;
    margin-left: -4px;
}
.navbar-lang:hover > a {
    text-decoration: none;
}

.button-home {
    color: #014591;
    border: none;
    padding: 15px 10px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 0;
}

.critem {
    height: 340px;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    background-size: cover;
}
.carousel-content {
	position: absolute;
	top: 20%;
	left: 15%;
    display: inline-block;
}

.btn-primary {
    text-transform: uppercase;
    font-weight: bold;
    min-width: 201px;
}
