
.navbar{
height: 3em;
}

.button {
    background-color: #005CA4; /* Tim blue */
    border: none;
	border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	font-family: arial;
}

.wrapper {
height: auto !important;
height: 100%;
margin-bottom:-4em;
}

.footer, .push {
height: 4em;
}
